.header__lang-link {
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px){
  .header__lang-link {
    font-size: 18px;
  }
}
