.place__title {
  font-family: Inter;
  font-style: normal;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;

}

@media (min-width:768px) and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media (min-width:320px) and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin: 0 auto 48px 24px;
    max-width: 340px;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 0 auto 32px 16px;
}
}

