.place__paragraph {
  margin: 0 auto 24px auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0px;
}

@media (min-width:320px) and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px 24px 16px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    margin: 0 16px 24px 16px;
    font-size: 16px;
    line-height: 26px;
  }
}
