.root {
  background: #2A2C2F;
  font-family: 'Inter', ‘Arial’, sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
